* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #08252b;
    color: #fff;

    header {
        width: 100%;
        min-height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0d3c45;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 5px 0 #fff;
    }

    .usersContainer {
        width: 100%;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .userContainer {
            width: 80%;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0d3c45;
            margin: 10px;
            border-radius: 10px;
            box-shadow: 0 0 2px 0 #fff;
            font-size: 20px;
        }
    }
}